/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  background: #fff;
}
ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0;
}
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/* ..............userLogin page css start.................. */
.userLogin-wrap {
  width: 380px;
  display: block;
  margin: 0 auto;
  padding: 0px 15px;
}

.user-login-form input {
  padding: 0.95em;
  border: 1px solid #bfc5ca;
  border-radius: 4px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 18px;
  width: 100%;
  font-size: 14px;
  font-family: var(--font-family);
}
.user-login-submit-btn {
  display: inline-block;
  width: 100%;
  background-color: #b2fce4;
  border: 0.125rem solid transparent;
  border-radius: 4px;
  color: #000;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0.8em;
  line-height: 1.1;
  user-select: none;
  transition: 0.5s ease background-color;
  font-family: var(--font-family);
  margin-bottom: 15px;
}
.user-login-submit-btn:hover {
  background-color: #7ffad2;
}
.user-form-label {
  line-height: 1;
  font-size: 1em;
  color: #2d3134;
}
.user-login-logo {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
  margin: 0 auto;
}
.mobileNumber {
  margin-top: 10px;
}
.retailer-login {
  color: #2d3134;
  font-size: 0.9em;
  text-decoration: underline !important;
}
@media only screen and (max-width: 380px) {
  .userLogin-wrap {
    width: 100%;
  }
  .user-login-submit-btn {
    font-size: 1em;
  }
  .user-login-logo {
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
  }
  .user-form-label {
    line-height: 1;
    font-size: 15px;
    color: #2d3134;
  }
}
/* ..............userLogin page css end.................. */
